# requirements.in
boto3     # AWS Library               # https://boto3.readthedocs.io/en/latest/
chalice   # AWS Lamda framework       # https://chalice.readthedocs.io/en/latest/
requests  # http requests for humans  # http://docs.python-requests.org/en/master/
